<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /vesite/
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /vesite/index.html [L]
</IfModule>